__pycache__/
*.pyc
youtube_token.pickle
client_secrets.json
videos/
shorts/
subtitles/
metadata/
scripts/
pexels_images/
thumbnails/
bgm_*.mp3
image.png
upload_queue.json
analytics_insights.json
update_checks.json
responded_comments.json
community_posts/
playlist_ids.json
